<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <title>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</title>
</head>
<body BGCOLOR=White TOPMARGIN=0 MARGINHEIGHT=0 LEFTMARGIN=0 MARGINWIDTH=0>
    <table width=100% cellpadding=0 cellspacing=0 border=0>
        <tr bgcolor=#111E7A>
            <td rowspan=4>
                <a href="http://prezydent2000.pkw.gov.pl/index.html"><img src="../static/obrazy/l.gif" width=337 height=87 border=0></a>
            </td>
            <td height=67 width=65% align=center valign=center><img src="../static/obrazy/n5.gif"></td>
            <td width=25%>&nbsp;</td>
        </tr>
        <tr>
            <td height=5 colspan=2 id=p>&nbsp;</td>
        </tr>
        <tr>
            <td height=5 colspan=2 id=p bgcolor=#FE0000>&nbsp;</td>
        </tr>
        <tr>
            <td height=10 colspan=2 id=p>&nbsp;</td>
        </tr>
    </table>

<p>teksr!!!</p>
<p>My string: >{{ wyniki }}<</p>
&nbsp;



</body>
</html>